.footer {
  position: relative;
  height: 330px;
  margin-top: -330px;
  z-index: 2; }
  .footer .foot-wrap {
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    width: 90%;
    width: 1200px;
    padding: 60px 20px 0;
    margin: auto; }
    .footer .foot-wrap .copyright {
      padding-top: 60px;
      color: #61688a; }
    .footer .foot-wrap dl h2 {
      height: 42px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px; }
