.limit {
  padding: 0 30px; }
  .limit div {
    margin-bottom: 5px;
    color: #61688a; }
  .limit .bg {
    background-color: rgba(78, 91, 133, 0.4);
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 12px; }
  .limit .info {
    font-size: 16px;
    height: 46px;
    line-height: 36px; }
  .limit :global .ant-input {
    color: #c7cce6;
    border-color: #4e5b85;
    background-color: #1e2235; }
  .limit :global .ant-btn {
    background-color: #4e5b85;
    border-color: transparent;
    height: 40px;
    font-size: 16px; }
    .limit :global .ant-btn span {
      color: #fff; }

.market :global .ant-input {
  margin-bottom: 40px; }
