* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #c7cce6; }
  * ul, * li, * dl, * dt {
    list-style: none; }
  * a {
    text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: 60px 530px 490px 530px 480px;
  grid-template-columns: minmax(280px, 360px) minmax(600px, 3fr) minmax(60px, 0.5fr) minmax(280px, 2fr);
  grid-template-areas: 'h  h  h  h' 'a  c  c  c' 'a tp tp  o' 'a  d mt mt' 'a td td td';
  grid-gap: 10px;
  padding: 5px;
  background-color: #262a42; }

.header {
  grid-area: h; }

.aside {
  grid-area: a; }

.chart {
  grid-area: c; }

.trade-panel {
  grid-area: tp; }
  .trade-panel :global .ant-tabs-bar {
    border-bottom: none; }
  .trade-panel :global .ant-tabs-ink-bar {
    background-color: #7a98f7; }
  .trade-panel :global .ant-tabs-nav .ant-tabs-tab-active {
    border-color: #7a98f7;
    color: #7a98f7; }
  .trade-panel :global .ant-tabs-tab:hover {
    color: #fff; }
  .trade-panel :global .ant-tabs-tab-active:hover {
    color: #7a98f7; }

.order {
  grid-area: o; }

.depth {
  grid-area: d; }

.market-trades {
  grid-area: mt; }

.token-details {
  grid-area: td; }

.header {
  background-color: #181b2a; }

.chart, .trade-panel, .order, .depth, .market-trades, .token-details {
  border-radius: 0 0 3px 3px;
  background-color: #181b2a; }
