.container {
  padding: 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(280px, 360px) minmax(600px, 3fr) minmax(60px, 0.5fr) minmax(280px, 2fr);
  grid-template-rows: 60px 530px 490px 530px 480px;
  grid-template-areas: "h  h  h  h" "a  c  c  c" "a tp tp  o" "a  d mt mt" "a td td td"; }

.header {
  grid-area: h; }

.aside {
  grid-area: a; }

.chart {
  grid-area: c; }

.trade-panel {
  grid-area: tp; }

.order {
  grid-area: o; }

.depth {
  grid-area: d; }

.market-trades {
  grid-area: mt; }

.token-details {
  grid-area: td; }

.header {
  background-color: #181b2a; }

.aside, .chart, .trade-panel, .order, .depth, .market-trades, .token-details {
  border-radius: 10px;
  background-color: #fde886; }
