@import '../common.scss';

.container {
  height: calc(100% - 50px);
  font-size: 12px;

  .header {
    @extend %win-header;

    dl {
      display: inline-block;
      height: 48px;
      padding-left: 20px;
      font-style: normal;
      line-height: 48px;
      white-space: nowrap;
      text-transform: uppercase;

      > dt {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
      }

      > dd {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
      }

      .close {
        margin-left: 10px;
      }
    }
  }

  .chart-container {
    height: 100%;
  }
}
