.container {
  display: flex;
  height: 100%;
}

.head-logo {
  padding-left: 30px;
  margin: 0;

  svg {
    margin-top: 15px;
  }
}

.head-nav {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0;
  margin: 0 30px 0 0;
  font-size: 14px;

  > li {
    list-style-type: none;
    margin-left: 30px;

    &.head-padding {
      flex: 1;
    }

    &.head-user {
      margin: 0 10px;
    }
  }

  a {
    color: #c7cce6;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: #7a98f7;
    }
  }
}
