// 样式库

%win-header {
  height: 48px;
  padding: 0 20px;
  color: #c7cce6;
  background-color: #1b1e2e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  font-size: 14px;
  line-height: 48px;

  > span {
    padding-left: 6px;
    font-size: 16px;
  }
}
