.container {
  display: flex;
  height: 100%; }

.head-logo {
  padding-left: 30px;
  margin: 0; }
  .head-logo img {
    padding-top: 15px; }

.head-nav {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0;
  margin: 0 30px 0 0;
  font-size: 14px; }
  .head-nav > li {
    list-style-type: none;
    margin-left: 30px; }
    .head-nav > li.head-padding {
      flex: 1; }
    .head-nav > li.head-user {
      margin: 0 10px; }
  .head-nav a {
    color: #c7cce6;
    text-decoration: none;
    transition: all .2s ease-in-out; }
    .head-nav a:hover {
      color: #7a98f7; }
