.container {
  position: relative;
  padding-top: 16px;
  border-radius: 0 0 3px 3px;
  background-color: #181b2a;
  line-height: 1;

  > strong {
    display: block;
    height: 37px;
    padding-left: 30px;
    font-size: 16px;
  }

  .search_wrap {
    position: absolute;
    top: 11px;
    right: 80px;
    width: 110px;
    height: 26px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 1;
    text-align: right;
  }

  .coin {
    display: flex;
    justify-content: space-around;

    span {
      cursor: pointer;

      &.selected {
        border-bottom: 1px solid rgb(122, 152, 247);
      }
    }
  }

  .tab {
    padding: 0 3px 3px 15px;
  }

  .switch_wrap {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 60px;
    height: 26px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;

    b {
      margin-left: 5px;
      color: #7a98f7;
      text-transform: uppercase;
    }
  }

  :global {
    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-input {
      border-color: #4e5b85;
      color: #c7cce6;
      background-color: #1e2235;
    }

    .ant-input:hover {
      border-color: #4e5b85;
    }

    .ant-tabs-ink-bar {
      background-color: #7a98f7;
    }

    .ant-table-thead tr th {
      padding: 3px;
      border-bottom: 1px solid #1f2943;
      background: none;
    }

    .ant-table-tbody tr td {
      padding: 3px;
      border-bottom: 1px solid #1f2943;
    }

    .ant-table-tbody > tr:hover > td {
      background: none;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      border-color: #7a98f7;
      color: #7a98f7;
    }

    .ant-tabs-tab {
      padding: 10px;
      margin: 0;
    }

    .ant-tabs-tab:hover {
      color: #fff;
    }

    .ant-tabs-tab-active:hover {
      color: #7a98f7;
    }

    .ant-table-thead > tr > th.ant-table-column-sort {
      background: none;
    }

    .ant-input-search-icon {
      color: #4e5b85;
    }
  }
}
