// 去除input[type='number']的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.container {
  display: grid;
  grid-template-rows: 60px 660px 490px 530px 480px;
  grid-template-columns: minmax(280px, 360px) minmax(600px, 3fr) minmax(60px, .5fr) minmax(280px, 2fr);
  grid-template-areas:
    'h  h  h  h'
    'a  c  c  c'
    'a tp tp  o'
    'a  d mt mt'
    'a td td td';
  grid-gap: 10px;
  padding: 5px;
  color: #c7cce6;
  background-color: #262a42;
}

.header {
  grid-area: h;
}

.aside {
  grid-area: a;
}

.line {
  grid-area: c;
}

.trade-panel {
  grid-area: tp;

  :global {
    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-ink-bar {
      background-color: #7a98f7;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      border-color: #7a98f7;
      color: #7a98f7;
    }

    .ant-tabs-tab:hover {
      color: #fff;
    }

    .ant-tabs-tab-active:hover {
      color: #7a98f7;
    }

    .ant-tabs-nav {
      font-size: 16px;
    }

    .ant-tabs-nav-scroll {
      padding: 0 30px;
      background: #1b1e2e;
      box-shadow: 0 3px 6px rgba(0,0,0,.1);
    }
  }
}

.orders {
  grid-area: o;
}

.depth {
  grid-area: d;
}

.deals {
  grid-area: mt;
}

.token-details {
  grid-area: td;
}

.header,
.line,
.trade-panel,
.orders,
.depth,
.deals,
.token-details {
  border-radius: 5px;
  background-color: #181b2a;
}
