.Order .head {
  background-color: #1b1e2e;
  padding: 0 30px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #c7cce6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); }
  .Order .head .uppercase {
    font-style: normal;
    text-transform: uppercase; }
  .Order .head .ticker {
    color: #61688a;
    font-size: 12px; }

.Order .orderbox {
  padding: 5px 3px 5px 25px;
  margin-left: 5px; }

.Order .orderbox1 {
  border-bottom: 1px solid #1f2943; }

.Order :global .ant-table-thead tr th {
  border-bottom: none;
  padding: 3px;
  background: none; }
  .Order :global .ant-table-thead tr th > span {
    color: #61688a;
    font-size: 12px; }

.Order :global .ant-table-tbody tr td {
  border-bottom: none;
  padding: 3px; }

.Order :global .ant-table-tbody > tr:hover > td {
  background: none; }
