.drawer {
  background-color: #181b2a;
  border-radius: 0 0 3px 3px;
  position: relative;
  line-height: 1;
  padding-top: 16px; }
  .drawer > strong {
    display: block;
    height: 37px;
    font-size: 16px;
    padding-left: 30px; }
  .drawer .search_wrap {
    width: 110px;
    height: 26px;
    font-size: 14px;
    position: absolute;
    right: 80px;
    top: 11px;
    line-height: 1;
    padding-right: 5px;
    text-align: right; }
  .drawer .tab {
    padding: 0 3px 3px 15px; }
  .drawer .switch_wrap {
    width: 60px;
    right: 20px;
    top: 11px;
    position: absolute;
    text-align: center;
    height: 26px;
    padding-top: 5px;
    cursor: pointer; }
    .drawer .switch_wrap b {
      color: #7a98f7; }
  .drawer :global .ant-tabs-bar {
    border-bottom: none; }
  .drawer :global .ant-input {
    color: #c7cce6;
    border-color: #4e5b85;
    background-color: #1e2235; }
  .drawer :global .ant-input:hover {
    border-color: #4e5b85; }
  .drawer :global .ant-tabs-ink-bar {
    background-color: #7a98f7; }
  .drawer :global .ant-table-thead tr th {
    border-bottom: 1px solid #1f2943;
    padding: 3px;
    background: none; }
  .drawer :global .ant-table-tbody tr td {
    border-bottom: 1px solid #1f2943;
    padding: 3px; }
  .drawer :global .ant-table-tbody > tr:hover > td {
    background: none; }
  .drawer :global .ant-tabs-nav .ant-tabs-tab-active {
    color: #7a98f7;
    border-color: #7a98f7; }
  .drawer :global .ant-tabs-tab {
    margin: 0;
    padding: 10px; }
  .drawer :global .ant-tabs-tab:hover {
    color: #fff; }
  .drawer :global .ant-tabs-tab-active:hover {
    color: #7a98f7; }
  .drawer :global .ant-table-thead > tr > th.ant-table-column-sort {
    background: none; }
