.drawer {
  background-color: #181b2a;
  border-radius: 0 0 3px 3px;
  position: relative;
  line-height: 1;
  padding-top: 16px; }
  .drawer > strong {
    display: block;
    height: 37px;
    font-size: 16px;
    padding-left: 30px; }
  .drawer .search_wrap {
    width: 110px;
    height: 26px;
    font-size: 14px;
    position: absolute;
    right: 80px;
    top: 11px;
    line-height: 1;
    padding-right: 5px;
    text-align: right; }
    .drawer .search_wrap > input {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2;
      width: 110px;
      padding: 5px 45px 5px 8px;
      height: 26px;
      border: 1px solid;
      outline: 0 none;
      border-radius: 4px;
      background: transparent;
      color: #c7cce6;
      border: 1px solid #4e5b85;
      background-color: #1e2235; }
  .drawer .coin_filter {
    padding-top: 10px;
    font-size: 0px;
    position: relative;
    padding-left: 30px;
    width: 100%;
    height: 37px; }
    .drawer .coin_filter > span {
      font-size: 14px;
      margin-right: 28px;
      display: inline-block;
      cursor: pointer;
      height: 27px;
      text-transform: uppercase;
      border-bottom: 1px solid transparent; }
      .drawer .coin_filter > span .cur {
        cursor: default;
        border-color: currentColor; }
  .drawer .coin_table {
    padding: 0 4px 4px; }
    .drawer .coin_table .coin_thead {
      cursor: auto; }
      .drawer .coin_table .coin_thead .coin_unit {
        height: 40px;
        padding-top: 18px;
        white-space: nowrap;
        margin-left: 16px;
        padding: 0 0 0 10px;
        height: 25px;
        line-height: 25px; }
        .drawer .coin_table .coin_thead .coin_unit span {
          display: inline-block; }
          .drawer .coin_table .coin_thead .coin_unit span:first-of-type {
            width: 39%; }
          .drawer .coin_table .coin_thead .coin_unit span:nth-of-type(2) {
            width: 36%; }
          .drawer .coin_table .coin_thead .coin_unit span:last-of-type {
            width: 25%; }
