.sidebar_notice {
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #181b2a; }
  .sidebar_notice .tit {
    height: 48px;
    padding: 0 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 48px; }
    .sidebar_notice .tit > a {
      color: #fff; }
  .sidebar_notice .in {
    padding: 0 20px; }
    .sidebar_notice .in > ul > li {
      height: 83px;
      padding: 17px 0 10px;
      border-top: 1px solid #1f2943;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      cursor: pointer; }
      .sidebar_notice .in > ul > li > a {
        display: block;
        height: 36px;
        margin-bottom: 6px;
        color: #c7cce6;
        overflow: hidden;
        line-height: 18px;
        text-align: left; }
